<p id="notice"><%= notice %></p>
<h1>Invoices</h1>
<table id="invoice-table" class="table table-sm table-bordered">
  <thead>
    <tr>
      <th>Product Name</th>
      <th>Qty</th>
      <th>Price</th>
      <th>Total</th>
      <th>Order placed on</th>
      <th>Delivered on</th>
      <% if !current_user.is_customer? %>
        <th data-orderable="false"></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% if @invoices.present? %>
      <% @invoices.each do |invoice| %>
        <tr>
          <td><%= invoice.product.name %></td>
          <td><%= invoice.qty %></td>
          <td><%= invoice.price %></td>
          <td><%= invoice.total %></td>
          <td><%= invoice.created_at.strftime("%A %d-%b-%Y") %></td>
          <td>
            <% if invoice.order_completed %>
              <%= invoice.updated_at.strftime("%A %d-%b-%Y") %>
            <% end %>
          </td>
          <% if !current_user.is_customer? %>
            <td>
              <% if !invoice.order_completed %>
                <%= form_with url: deliver_url do |form| %>
                  <input type="hidden" name="id" value="<%= invoice.id %>">
                  <button type="submit" class="btn btn-sm btn-success">Deliver</button>
                <% end %>
              <% else %>
                Delivered
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<br>
<script>
  $(document).ready(() => {
    $("#invoice-table").dataTable();
  });
</script>
