<p id="notice"><%= notice %></p>
<h1>Invoices</h1>
<table id="invoice-table" class="table table-sm table-bordered">
  <thead>
    <tr>
      <th>Product Name</th>
      <th>Qty</th>
      <th>Price</th>
      <th>Total</th>
      <th>Order placed on</th>
      <th>Delivered on</th>
      <th data-orderable="false"></th>
    </tr>
  </thead>
  <tbody>
    <% if @invoices.present? %>
      <% @invoices.each do |invoice| %>
        <tr>
          <td><%= invoice.product.name %></td>
          <td><%= invoice.qty %></td>
          <td><%= invoice.price %></td>
          <td><%= invoice.total %></td>
          <td><%= invoice.created_at.strftime("%A %d-%b-%Y") %></td>
          <td><%= invoice.updated_at.strftime("%A %d-%b-%Y") %></td>
          <td>
            <% if policy(:authorization).outlet_admin? %>
              <% if !invoice.order_completed %>
                <button class="btn btn-sm btn-success">Deliver</button>
              <% else %>
                Delivered
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<br>
<script>
  $(document).ready(() => {
    $("#invoice-table").dataTable();
  });
</script>
