
<%= form_with(model: outlet) do |form| %>
  <div class="form-group">
    <%= form.label :"Outlet Name" %>
    <%= form.text_field :name, class: "form-control form-control-sm" %>
  </div>

  <div class="form-group">
    <%= form.label :"Address line 1" %>
    <%= form.text_field :location, class: "form-control form-control-sm" %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-success btn-sm" %>
  </div>
<% end %>
