<%= render "components/alert" %>
<div class="w-75 mx-auto mt-4">
  <%# <%= link_to 'New Post', new_post_path, class:"btn btn-sm btn-success text-light my-2"  %>
  <%= render "new_modal", post: Post.new%>
  <table class="table table-sm table-bordered" id="posts-datatable">
    <thead>
      <tr>
        <th>Title</th>
        <th>Des</th>
        <th data-orderable="false">Operation</th>
      </tr>
    </thead>
    <tbody>
      <% @posts.each do |post| %>
        <tr>
          <td><%= post.title %></td>
          <td><%= post.des %></td>
          <td>
            <%= link_to 'Show', post, class: "btn btn-sm btn-primary text-light" %>
            <%= link_to 'Edit', edit_post_path(post), class: "btn btn-sm btn-warning text-light" %>
            <%= render "delete_modal", post:post %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<script>
  $(document).ready(() => {
    $("#posts-datatable").dataTable();
  });
</script>
