<%= render "components/alert" %>
<div class="mx-auto mt-4">
  <div class="d-flex flex-row align-items-center">
    <h1>Posts</h1>
    <% if policy(Post).create? %>
      <%= render "new_modal", post: Post.new%>
    <% end %>
  </div>
  <table class="table table-sm table-bordered" id="posts-datatable">
    <thead>
      <tr>
        <th>Post Date</th>
        <th>Title</th>
        <th>Des</th>
        <th data-orderable="false">Operation</th>
      </tr>
    </thead>
    <tbody>
      <% @posts.each do |post| %>
        <tr>
          <td><%= post.created_at.strftime("%A %d-%b-%Y") %></td>
          <td><%= post.title %></td>
          <td><%= post.des %></td>
          <td>
            <%= link_to 'Show', post, class: "btn btn-sm btn-primary text-light" %>
            <% if policy(post).update? %>
              <%= link_to 'Edit', edit_post_path(post), class: "btn btn-sm btn-warning text-light" %>
              <%= render "delete_modal", post:post %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<script>
  $(document).ready(() => {
    $("#posts-datatable").dataTable();
  });
</script>
