<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#invoiceModal">
  Buy
</button>
<!-- Modal -->
<div class="modal fade" id="invoiceModal" tabindex="-1" role="dialog" aria-labelledby="invoiceModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="invoiceModalLabel">Invoice Address</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_with url: "#" do |form| %>
          <div class="row">
            <div class=" col col-md-6">
               <div class="form-group">
                <%= form.label :"product_name"  %>
                <%= form.text_field :name, disabled: :true, value: "Karp", class: "form-control form-control-sm"%>
              </div>
            </div>
            <div class=" col col-md-6">
              <div class="form-group">
                <%= form.label :"Quantity"  %>
                <%= form.number_field :name, min: 1, class: "form-control form-control-sm"%>
              </div>
            </div>
          </div>
          <div class="form-grouop">
            <%= form.label :"Full name"  %>
            <%= form.text_field :name, class: "form-control form-control-sm"%>
          </div>
          <div class="form-grouop">
            <%= form.label :"Address line 1"  %>
            <%= form.text_field :address, class: "form-control form-control-sm"%>
          </div>
          <div class="row">
            <div class="col col-md-6">
              <div class="form-grouop">
                <%= form.label :"City"  %>
                <%= form.text_field :address, class: "form-control form-control-sm"%>
              </div>
            </div>
            <div class="col col-md-6">
              <div class="form-grouop">
                <%= form.label :"Zip/postcode"  %>
                <%= form.text_field :address, class: "form-control form-control-sm"%>
              </div>
            </div>
          </div>
          <p class="mt-3">Total : 11200</p>
          <%= form.submit "Buy" ,class: "btn btn-sm btn-success mt-3" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
